Repository it-goats/it-goats, changes with the labels that .github/labeler.yaml gives for each.
All labels: config, deps, bode, database, cabra, test

[ITG-103] List of relation types added to Task (#38)
  bode/bode/models/task.py
  bode/bode/models/task_actions.py
  bode/bode/models/task_relation.py
  bode/bode/models/task_relations_actions.py
  bode/bode/resources/directed_relation_type.py
  bode/bode/resources/task_relations/api.py
  bode/bode/resources/task_relations/schemas.py
  bode/bode/resources/tasks/schemas.py
Labels: bode

Add calendar page
  cabra/src/pages/Calendar.tsx
  cabra/src/pages/Home.tsx
  cabra/src/pages/components/TasksCalendar.tsx
  cabra/src/routes.tsx
Labels: cabra

Update today indicator color
  bode/.hooks/pre-commit.json
  cabra/src/pages/components/TasksCalendar.tsx
Labels: config, bode, cabra

Add task status indicator
  cabra/src/pages/components/TasksCalendar.tsx
Labels: cabra

Style the calendar
  cabra/src/pages/Calendar.tsx
  cabra/src/pages/Home.tsx
  cabra/src/pages/TaskDetails.tsx
  cabra/src/pages/components/CreateTaskForm.tsx
  cabra/src/pages/components/TasksCalendar.tsx
  cabra/src/routes.tsx
Labels: cabra

Install FullCalendar
  cabra/package-lock.json
  cabra/package.json
Labels: config, deps, cabra

Use date from query params in create task form
  cabra/src/pages/components/CreateTaskForm.tsx
  cabra/src/pages/components/TasksCalendar.tsx
Labels: cabra

Style the calendar
  cabra/src/pages/Calendar.tsx
  cabra/src/pages/components/TasksCalendar.tsx
Labels: cabra

[ITG-107] Calendar View (#41)
  bode/.hooks/pre-commit.json
  cabra/package-lock.json
  cabra/package.json
  cabra/src/pages/Calendar.tsx
  cabra/src/pages/Home.tsx
  cabra/src/pages/TaskDetails.tsx
  cabra/src/pages/components/CreateTaskForm.tsx
  cabra/src/pages/components/TasksCalendar.tsx
  cabra/src/routes.tsx
Labels: config, deps, bode, cabra

.github/labeler.yaml:

config:
  - '.github/**/*'
  - '.vscode/**/*'
  - bode/*
  - bode/.hooks/**/*
  - cabra/*
  - cabra/.hooks/**/*
  - any:
      - '*'
      - '!**/package.json'
      - '!**/package-lock.json'
      - '!**/poetry.lock'
      - '!**/pyproject.toml'

deps:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/poetry.lock'
  - '**/pyproject.toml'

bode:
  - any:
      - bode/**/*
      - '!bode/migrations/**/*'

database:
  - bode/migrations/**/*

cabra:
  - cabra/**/*

test:
  - bode/**/test_*.py
  - bode/**/*_test.py
  - cabra/**/*.spec.*
  - cabra/**/*.test.*
