Repository it-goats/it-goats, pull requests merged in 2022-05, with the labels that each got.

#40 [NOJIRA] feat: add github bot
  .github/auto_assign.yaml
  .github/labeler.yaml
  .github/workflows/auto_fill.yaml
Labels: config

#38 [ITG-103] List of relation types added to Task
  bode/bode/models/task.py
  bode/bode/models/task_actions.py
  bode/bode/models/task_relation.py
  bode/bode/models/task_relations_actions.py
  bode/bode/resources/directed_relation_type.py
  bode/bode/resources/task_relations/api.py
  bode/bode/resources/task_relations/schemas.py
  bode/bode/resources/tasks/schemas.py
Labels: bode

#41 [ITG-107] Calendar View
  bode/.hooks/pre-commit.json
  cabra/package-lock.json
  cabra/package.json
  cabra/src/pages/Calendar.tsx
  cabra/src/pages/Home.tsx
  cabra/src/pages/TaskDetails.tsx
  cabra/src/pages/components/CreateTaskForm.tsx
  cabra/src/pages/components/TasksCalendar.tsx
  cabra/src/routes.tsx
Labels: config, cabra, deps

#42 [ITG-104] Add icon of type to the task.
  cabra/src/api/tasks.ts
  cabra/src/pages/components/CreateTaskForm.tsx
  cabra/src/pages/components/SubtasksListEdit.tsx
  cabra/src/pages/components/TaskForm.tsx
  cabra/src/pages/components/TaskListItem.tsx
  cabra/src/pages/components/TaskTypeIcon.tsx
  cabra/src/types/task.ts
  cabra/src/types/taskRelation.ts
Labels: cabra

#43 [ITG-68] Wzbogadzenie endpointa zwracającego listę zadań o obsługę filtrów
  bode/bode/resources/tasks/api.py
  bode/bode/resources/tasks/schemas.py
  cabra/src/pages/components/FilterForm.tsx
  cabra/src/pages/components/TaskForm.tsx
  cabra/src/pages/components/TasksList.tsx
Labels: bode, cabra

#44 [ITG-108]
  bode/bode/models/task_relations_actions.py
  bode/bode/resources/task_relations/api.py
  bode/bode/utils/graph.py
Labels: bode

#45 [ITG-144] Eliminate cyclic imports between models
  bode/bode/models/enums.py
  bode/bode/models/tag/actions.py
  bode/bode/models/tag/model.py
  bode/bode/models/task.py
  bode/bode/models/task/actions.py
  bode/bode/models/task/model.py
  bode/bode/models/task_relation.py
  bode/bode/models/task_relation/actions.py
  bode/bode/models/task_relation/model.py
  bode/bode/models/task_tag.py
  bode/bode/models/utils.py
  bode/bode/resources/tags/api.py
  bode/bode/resources/task_relations/api.py
  bode/bode/resources/task_relations/schemas.py
  bode/bode/resources/tasks/api.py
  bode/bode/resources/tasks/schemas.py
Labels: bode

#47 [ITG-106] Added visiualization of indirectly done status. Changed checkbox icons
  cabra/package-lock.json
  cabra/package.json
  cabra/src/pages/components/CheckBox.tsx
  cabra/src/pages/components/RelatedTask.tsx
  cabra/src/pages/components/TaskDetailsCard.tsx
  cabra/src/pages/components/TaskListItem.tsx
Labels: config, cabra, deps
