Repository it-goats/it-goats, pull requests merged in 2022-06, with the labels that each got.

#50 [ITG-120]
  bode/bode/models/recurring_task/model.py
  bode/migrations/versions/67993210b2c4_add_recurring_tasks.py
Labels: bode, database

#53 [NOJIRA] Deploy setup backport
  .dockerignore
  .github/workflows/deploy.yaml
  Dockerfile.release
  Dockerfile.web
  bode/bode/app.py
  bode/bode/config.py
  bode/poetry.lock
  bode/pyproject.toml
  cabra/src/main.tsx
Labels: config, bode, cabra, deps

#51 [ITG-126] Change style of checkbox icons, add tooltips, auto check subtasks of task.
  bode/bode/models/task/actions.py
  bode/bode/resources/tasks/schemas.py
  cabra/src/assets/indirectly_done_icon.svg
  cabra/src/pages/components/CheckBox.tsx
  cabra/src/pages/components/RelatedTask.tsx
  cabra/src/pages/components/TaskDetailsCard.tsx
  cabra/src/pages/components/TaskListItem.tsx
  cabra/src/pages/hooks/useTaskDetails.ts
Labels: bode, cabra

#57 [ITG-130] Fix problems with interchangeable status.
  bode/bode/models/task/actions.py
Labels: bode

#58 [ITG-133] [ITG-134] Notification for tasks by sendgrid.
  bode/bode/app.py
  bode/bode/config.py
  bode/bode/mail_service/sending.py
  bode/bode/models/tag/model.py
  bode/bode/models/task/model.py
  bode/poetry.lock
  bode/pyproject.toml
  docker-compose.yaml
Labels: config, bode, deps

#54 [ITG-111] Przystosować backend do nowej mechaniki dodawania i edycji zadań
  bode/bode/models/enums.py
  bode/bode/models/task/actions.py
  bode/bode/resources/tasks/api.py
  bode/bode/resources/tasks/schemas.py
Labels: bode

#55 [ITG-109] New edit/create task form
  bode/bode/models/task/actions.py
  bode/bode/resources/tasks/schemas.py
  cabra/src/api/tags.ts
  cabra/src/api/taskRelations.ts
  cabra/src/api/tasks.ts
  cabra/src/pages/TaskEdit.tsx
  cabra/src/pages/components/CreateTaskForm.tsx
  cabra/src/pages/components/RelatedTask.tsx
  cabra/src/pages/components/SubtasksListEdit.tsx
  cabra/src/pages/components/TagsEdit.tsx
  cabra/src/pages/components/TaskForm.tsx
  cabra/src/pages/components/TaskListItem.tsx
  cabra/src/pages/components/TaskRelationsEdit.tsx
  cabra/src/pages/hooks/useAvailableTags.ts
  cabra/src/pages/hooks/useTagsEdit.ts
  cabra/src/pages/hooks/useTaskDetails.ts
Labels: bode, cabra

#59 [ITG-131, ITG-132, ITG-135] Finish notifications
  .env.example
  Dockerfile.web
  bode/bode/app.py
  bode/bode/mail_service/sending.py
  bode/bode/models/notifications_data/model.py
  bode/bode/models/task/model.py
  bode/bode/resources/settings/__init__.py
  bode/bode/resources/settings/api.py
  bode/bode/resources/settings/schemas.py
  bode/bode/resources/tasks/schemas.py
  bode/migrations/versions/4a5040ab3b05_add_notification_time_to_task_model.py
  bode/migrations/versions/4bf1c662e32d_add_notifications_data_model.py
  bode/notify.sh
  cabra/src/App.tsx
  cabra/src/api/settings.ts
  cabra/src/pages/Settings.tsx
  cabra/src/pages/components/CreateTaskForm.tsx
  cabra/src/pages/components/NotificationForm.tsx
  cabra/src/pages/components/SettingsContext.tsx
  cabra/src/pages/components/SettingsForm.tsx
  cabra/src/pages/components/TaskForm.tsx
  cabra/src/routes.tsx
  cabra/src/types/settings.ts
  cabra/src/types/task.ts
Labels: config, bode, database, cabra
